<% title "AttachedFiles" %>

<table>
  <tr>
    <th>Mime Type</th>
    <th>Name</th>
    <th>Owner Type</th>
    <th>Owner</th>
  </tr>
  <% for attached_file in @attached_files %>
    <tr>
      <td><%= attached_file.mime_type %></td>
      <td><%= attached_file.name %></td>
      <td><%= attached_file.owner_type %></td>
      <td><%= attached_file.owner_id %></td>
      <td><%= link_to "Show", attached_file %></td>
      <td><%= link_to "Edit", edit_attached_file_path(attached_file) %></td>
      <td><%= link_to "Destroy", attached_file, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New AttachedFile", new_attached_file_path %></p>
