<% title "AttachedFile" %>

<p>
  <strong>Mime Type:</strong>
  <%= @attached_file.mime_type %>
</p>
<p>
  <strong>Name:</strong>
  <%= @attached_file.name %>
</p>
<p>
  <strong>Owner Type:</strong>
  <%= @attached_file.owner_type %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @attached_file.owner_id %>
</p>

<p>
  <%= link_to "Edit", edit_attached_file_path(@attached_file) %> |
  <%= link_to "Destroy", @attached_file, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", attached_files_path %>
</p>
