-# encoding: UTF-8
-# Context: idea (Idea)
%ul#ideas-action
  = render "ideas/actions/#{idea.state_machine.state_name}", idea:idea

  - if idea.state_machine.can_abort›?
    - if can?(:abort, idea)
      %li
        = link_to idea_path(idea, idea: { state: 'submitted' }), method: :put, class: 'btn btn-block', title: s_('Tooltip|Abort this idea. Use with caution and please leave a comment mentionning why you\'re aborting this idea.<br/>Note that all endorsements and vettings will be destroyed, and %{karma_icon} readjusted accordingly.') % { karma_icon: user_karma_symbol }, confirm:s_("Popup|Are you sure? This will cause all vettings and endorsements for this idea to be destroyed."), data: { placement: 'left' } do
          %i.icon-fast-backward
          = _('Abort')
    - else
      %li
        %a.btn.btn-block.disabled{ title: _('Sorry, only a benevolent dictator can sign off a staged idea.'), data: { placement: 'left' } }
          %i.icon-fast-backward
          = _('Abort')
  - else
    %li
      %a.btn.btn-block.disabled{ title: s_('Tooltip|This idea cannot be aborted.'), data: { placement: 'left' } }
        %i.icon-fast-backward
        = _('Abort')


  %li.separator

  
  - if can?(:take_over, idea)
    %li
      = link_to idea_path(idea, idea: { product_manager_id: current_user.id }), method: :put, class: 'btn btn-block', title: s_("Tooltip|Take over this idea from another product manager. We'll tell them of course, so they don't get surprised!"), data: { placement: 'left' } do
        = _('Become product manager')
  - else
    %li
      %a.btn.btn-block.disabled{ title: s_('Tooltip|Sorry, you cannot take over this idea.'), data: { placement: 'left' } }
        = _('Become product manager')


  - if can?(:move, idea) && current_login.accounts.count > 1
    %li
      .btn-group.btn-block
        %a.btn.btn-block.dropdown-toggle{ href:'#', title: s_('Tooltip|Hand over the idea to another team. State, votes, comments will be preserved but any %{karma_icon} gained or lost by participants will not be carried over.') % { karma_icon: user_karma_symbol }, data:{ placement: 'left', container:'.container', toggle:'dropdown'} }
          = _('Move idea to...')
          %span.caret
        %ul.dropdown-menu
          - current_login.accounts.each do |account|
            - next if account == current_account
            %li
              = link_to idea_path(idea, idea: { account_id:account.id }), method: :put do
                = account.name
  - else
    %li
      %a.btn.btn-block.disabled{ title:_('You need to be this idea\'s author or product manager, or an account owner, to move it to another account. You also need to be a member of another account.'), data:{ placement: 'left' } }
        = _('Move idea to...')
        %span.caret


  %li.separator


