-# Requires @category, @order, @filter

- filters = capture do
  .navbar-inner
    .container
      %ul.nav.pull-right.pull-right-spaced
        .btn-group
          - IdeasController::VALID_VIEWS.each do |view|
            - is_current = (@view == view)
            - classes = ['btn', is_current && 'active']
            = can_link_to ideas_path(params.merge(view:view)), class:classes, if:!is_current, title:ideas_view_tooltip(view) do
              %i{ class:idea_view_icon(view) }

      %ul.nav.pull-right.pull-right-spaced
        .btn.active#toggle-colorize{ 'data-toggle' => 'button' }
          %i.icon-tint

      %ul.nav.pull-left
        %li.dropdown
          %a.dropdown-toggle{:'data-toggle' => 'dropdown', :'data-target' =>'#', href:'#'}
            .hidden-phone
              = account_category_title(@category)
              %span.caret
            .visible-phone
              %i.icon-sitemap
              %span.caret
          %ul.dropdown-menu.filter-category
            - categories = %w[all] + account_categories(current_user) + %w[none]
            - categories.each do |category|
              - is_current = (@category == category)
              %li{ class: (is_current && 'disabled')}
                = can_link_to ideas_path(params.merge(category:category)), if:!is_current do
                  %span{ class: "af-category-label #{account_category_class(current_account, category)}"}
                  = account_category_title(category)

      %ul.nav.pull-left
        %li.dropdown
          %a.dropdown-toggle{:'data-toggle' => 'dropdown', href:'#'}
            .hidden-phone
              = idea_order_human(@order)
              %span.caret
            .visible-phone
              %i.icon-sort
              %span.caret
          %ul.dropdown-menu.filter-order
            - IdeasController::VALID_ORDERS.each do |order|
              - is_current = (@order == order)
              %li{ class: (is_current && 'disabled')}
                = can_link_to ideas_path(params.merge(order:order)), if:!is_current do
                  = idea_order_human(order)

      %ul.nav.pull-left
        %li.dropdown
          %a.dropdown-toggle{:'data-toggle' => 'dropdown', href:'#'}
            .hidden-phone
              = idea_filter_human(@filter)
              %span.caret
            .visible-phone
              %i.icon-filter
              %span.caret
          %ul.dropdown-menu.filter-filter
            - IdeasController::VALID_FILTERS.each do |filter|
              - is_current = (@filter == filter)
              %li{ class: (is_current && 'disabled')}
                = can_link_to ideas_path(params.merge(filter:filter)), if:!is_current do
                  = idea_filter_human(filter)

.navbar.navbar-fixed-bottom.visible-desktop
  != filters
.navbar.navbar-fixed-top.hidden-desktop
  != filters

:coffee
  $.unobtrusive ->
    $('#toggle-colorize').on 'click', () ->
      $('.ideas-index').toggleClass('af-with_colored-cards')
