-# Requires @category, @order, @filter

%ul.filter-category.nav.nav-tabs.nav-stacked
  %li{ class: (@category == 'all' && 'active')}
    = link_to ideas_path(params.merge(category:'all')) do
      = _('All Categories')
  - account_categories(current_user).each do |category|
    %li{ class: (@category == category && 'active')}
      = link_to ideas_path(params.merge(category:category)) do
        = category
  %li{ class: (@category == 'none' && 'active')}
    = link_to ideas_path(params.merge(category:'none')) do
      = _('No category')

%ul.filter-status.nav.nav-tabs.nav-stacked
  %li{ class: (@order == 'rating' && 'active')}
    = link_to ideas_path(params.merge(order:'rating')) do
      = _('Sort by rating')
  %li{ class: (@order == 'activity' && 'active')}
    = link_to ideas_path(params.merge(order:'activity')) do
      = _('Sort by activity')
  %li{ class: (@order == 'progress' && 'active')}
    = link_to ideas_path(params.merge(order:'progress')) do
      = _('Sort by progress')
  %li{ class: (@order == 'creation' && 'active')}
    = link_to ideas_path(params.merge(order:'creation')) do
      = _('Sort by creation')
  %li{ class: (@order == 'size' && 'active')}
    = link_to ideas_path(params.merge(order:'size')) do
      = _('Sort by size')

%ul.filter-participation.nav.nav-tabs.nav-stacked
  %li{ class: (@filter == 'all' && 'active')}
    = link_to ideas_path(params.merge(filter:'all')) do
      = _('All %{qualifier} ideas') % { qualifier: @angle }
  %li{ class: (@filter == 'authored' && 'active')}
    = link_to ideas_path(params.merge(filter:'authored')) do
      = _('Your ideas')
  %li{ class: (@filter == 'commented' && 'active')}
    = link_to ideas_path(params.merge(filter:'commented')) do
      = _('Commented by you')
  %li{ class: (@filter == 'vetted' && 'active')}
    = link_to ideas_path(params.merge(filter:'vetted')) do
      = _('Vetted by you')
  %li{ class: (@filter == 'backed' && 'active')}
    = link_to ideas_path(params.merge(filter:'backed')) do
      = _('Backed by you')

