= form_for @idea do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :problem
    %br
    = f.text_area :problem
  %p
    = f.label :solution
    %br
    = f.text_area :solution
  %p
    = f.label :metrics
    %br
    = f.text_area :metrics
  %p
    = f.label :deadline
    %br
    = f.date_select :deadline
  %p
    = f.label :author_id
    %br
    = f.number_field :author_id
  %p
    = f.label :design_size
    %br
    = f.number_field :design_size
  %p
    = f.label :development_size
    %br
    = f.number_field :development_size
  %p
    = f.label :rating
    %br
    = f.number_field :rating
  %p
    = f.label :state
    %br
    = f.text_field :state
  %p
    = f.label :category
    %br
    = f.text_field :category
  %p
    = f.submit
