-# Context:
-# - idea (Idea)
-# - collapsed (boolean)
-# - title_type (:link or :none)
-# - status (:none or :header)
:ruby
  collapsed     = local_assigns.fetch(:collapsed,     false)
  title_link    = local_assigns.fetch(:title_link,    false)
  muted_details = local_assigns.fetch(:muted,         false)

.idea_container{ id:dom_id(idea) }
  - classes = [idea.state_machine.state_name, (muted_details && 'af-mutable-content')]
  .af-drop-area
  .idea.idea-maxi.af-drop-hilite{ class:classes }
    
    .meta.top.af-mutable
      = render 'idea_rating', idea:idea
      .category.muted.pull-left.pull-left-spaced
        = idea.category || _('No category')
      .state.muted.pull-right.pull-right-spaced{ title: s_('Tooltip|The current progress on this idea'), :'data-container' => '.container' }<
        = idea_status(idea.state_machine.state_name)
      - if idea.sized?
        .size.muted.pull-right.pull-right-spaced{ title: s_('Tooltip|An architect and a product manager have sized this idea.'), :'data-container' => '.container' }
          = idea_size_human_long(idea.size).downcase

    .body.with-category-sliver{ class:idea_category_class(idea) }
      %h3.title
        - if title_link
          = link_to idea_path(idea), title: s_('Tooltip|Expand Idea') do
            %span= idea.title
            %i.icon-arrow-right
        - else
          = idea.title

      - if !collapsed && idea.product_manager
        .product_manager
          %strong= _('Product manager:')
          = render idea.product_manager, avatar:false, classes:'user-inline'
      .markdown.problem
        != pipeline_render idea.problem, summarize:collapsed

      - unless collapsed
        .markdown.solution
          %strong= _('Solution:')
          != pipeline_render idea.solution
        .markdown.metrics
          %strong= _('Metrics:')
          != pipeline_render idea.metrics

    .meta.bottom.af-mutable
      = render 'idea_people', idea:idea

      .actions.pull-right
        %ul
          %li
            = link_to idea_path(idea, anchor: 'comments'), title: s_('Tooltip|Show comments') do
              %i.icon-comments-alt<>
              - if (count = idea.comments_count) > 0
                = count
          %li.separator
          %li
            = can_link_to edit_idea_path(idea), auth:[:update, idea], title: s_('Tooltip|Edit Idea') do
              %i.icon-pencil<>
          %li
            = can_link_to idea, confirm: _('Are you sure?'), method: :delete, auth:[:destroy,idea], title: s_('Tooltip|Delete Idea') do
              %i.icon-trash<>
          %li
            = render 'bookmark_link', idea:idea
