-# Context:
-# - idea (Idea)
-# - collapsed (boolean)
-# - title_type (:link or :none)
-# - status (:none or :header)
:ruby
  collapsed    = local_assigns.fetch(:collapsed,   false)
  title_link   = local_assigns.fetch(:title_link,  false)

.idea_container
  - classes = [idea.state_name, 'with-header-wizard']
  .idea.idea-maxi{ id: "idea#{idea.id}", class: classes.join(' ') }
    .meta.top
      = render 'idea_rating', idea:idea
      .content.mutable
        .state.muted.pull-right{ title: s_('Tooltip|The current progress on this idea') }<
          = idea_status(idea.state_name)
        - if idea.sized?
          .size.muted.pull-right{ title: s_('Tooltip|An architect and a product manager have sized the idea as a %{size} effort.') % { size: idea_size_human_long(idea.size) } }
            - 1.upto idea.size do
              %i.icon-circle
            - (idea.size + 1).upto 4 do
              %i.icon-circle-blank

    .body
      %h3.title
        - if title_link
          = link_to idea_path(idea), title: s_('Tooltip|Expand Idea') do
            %span= idea.title
            %i.icon-arrow-right
        - else
          = idea.title

      - if !collapsed && idea.product_manager
        .product_manager
          %strong= _('Product manager:')
          = render idea.product_manager, avatar: false
      .markdown
        != pipeline_render idea.problem

      - unless collapsed
        .markdown
          %strong= _('Solution:')
          != pipeline_render idea.solution
        .markdown
          %strong= _('Metrics:')
          != pipeline_render idea.metrics

    .meta.bottom
      = render 'idea_people', idea:idea

      .actions.mutable
        %ul
          %li
            = can_link_to idea_path(idea), if:(params[:action] != 'show'), title: s_('Tooltip|Expand Idea') do
              %i.icon-fullscreen<>
          %li
            = link_to idea_path(idea, anchor: 'comments'), title: s_('Tooltip|Show comments') do
              %i.icon-comments-alt<>
              - if (count = idea.comments.count) > 0
                = count
          %li.separator
          %li
            = can_link_to edit_idea_path(idea), auth:[:edit, idea], title: s_('Tooltip|Edit Idea') do
              %i.icon-pencil<>
          %li
            = can_link_to idea, confirm: _('Are you sure?'), method: :delete, auth:[:destroy,idea], title: s_('Tooltip|Delete Idea') do
              %i.icon-trash<>
          %li
            - if bookmark = bookmark_for_idea(idea)
              = link_to user_bookmark_path(bookmark), method: :delete, title: _('Remove bookmark') do
                %i.icon-bookmark
            - else
              = link_to user_bookmarks_path(user_bookmark:{idea_id:idea}), method: :post, title: _('Bookmark this idea') do
                %i.icon-bookmark-empty
