- title _("Ideas"), show_title: false

.row
  .span9
    -if @ideas.empty?
      .alert.alert-block
        %h4= _('Sorry! I\'m afraid there are no %{qualifier} ideas %{filter} at the moment.') % { qualifier: @angle, filter: ideas_filter_qualifier(@filter) }
        = _('Perhaps you could %{submit_link} a new one?').html_safe % { submit_link: link_to(_('sumbit'), new_idea_path)}
        - if Idea.discussable_by(current_user).any?
          %br/
          = _('Or you could %{discuss_link} ideas with others?').html_safe % { discuss_link: link_to(_('discuss'), ideas_path(angle: 'discussable'))}

    - @ideas.each do |idea|
      = render 'idea', idea: idea, collapsed: true, title_type: :link, status: :header
  .span3
    %ul.nav.nav-pills.nav-stacked
      %li{ class: (@filter == 'all' && 'active')}
        = link_to ideas_path(params.merge(filter:'all')) do
          = _('All %{qualifier} ideas') % { qualifier: @angle }
      %li{ class: (@filter == 'authored' && 'active')}
        = link_to ideas_path(params.merge(filter:'authored')) do
          = _('Your ideas')
      %li{ class: (@filter == 'commented' && 'active')}
        = link_to ideas_path(params.merge(filter:'commented')) do
          = _('Commented by you')
      %li{ class: (@filter == 'vetted' && 'active')}
        = link_to ideas_path(params.merge(filter:'vetted')) do
          = _('Vetted by you')
      %li{ class: (@filter == 'backed' && 'active')}
        = link_to ideas_path(params.merge(filter:'backed')) do
          = _('Backed by you')

    %ul.nav.nav-pills.nav-stacked
      %li{ class: (@order == 'rating' && 'active')}
        = link_to ideas_path(params.merge(order:'rating')) do
          = _('Sort by rating')
      %li{ class: (@order == 'activity' && 'active')}
        = link_to ideas_path(params.merge(order:'activity')) do
          = _('Sort by activity')
      %li{ class: (@order == 'progress' && 'active')}
        = link_to ideas_path(params.merge(order:'progress')) do
          = _('Sort by progress')
      %li{ class: (@order == 'creation' && 'active')}
        = link_to ideas_path(params.merge(order:'creation')) do
          = _('Sort by creation')
