- title "Ideas"

%table
  %tr
    %th Title
    %th Problem
    %th Solution
    %th Metrics
    %th Deadline
    %th Author
    %th Design size
    %th Development size
    %th Rating
    %th State
    %th Category
  - for idea in @ideas
    %tr
      %td= idea.title
      %td= idea.problem
      %td= idea.solution
      %td= idea.metrics
      %td= idea.deadline
      %td= idea.author_id
      %td= idea.design_size
      %td= idea.development_size
      %td= idea.rating
      %td= idea.state
      %td= idea.category
      %td= link_to 'Show', idea
      %td= link_to 'Edit', edit_idea_path(idea)
      %td= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Idea", new_idea_path
