- title @idea.title, show_title: false

- if @just_submitted
  - content_for :extra_flashes do
    .af-flash.af-flash-success
      .container
        %button.close{ :'data-dismiss' => 'alert' }<
          %i.icon-remove

        - if @idea.state_machine.submitted?
          %h4= _('Awesome! Your idea was submitted.')
          %p
            = _('As it is the most recently active story, it now appears at the top the the discussion list.')
            %br/
            = _('This means your team should now start discussing it! Take part in the discussion to perfect your idea. Once it is correctly formatted and documented, a product manager and an architect should vet it, and the voting will start!')
        - elsif @idea.state_machine.draft?
          %h4= _('Neat! You just created a draft idea.')
          %p
            = _('It will no be visible to others; we have bookmarked it for you so you can find it again by going to the "followed" angle.')
            %br/
            = _('Once you\'re done preparing it, just edit it again and press "Submit idea".')
        - else
          - raise RuntimeError.new('bad idea state')

- if @idea.state_machine.can_vote›? && can?(:create, @idea.votes.build) && !@idea.backed_by?(current_user)
  - content_for :extra_flashes do
    .af-flash.af-flash-success
      .container
        %button.close{ :'data-dismiss' => 'alert' }<
          %i.icon-remove
        %h4= _('Time to give your opinion!')
        %p
          = _('Please consider your decision to endorse an idea carefully.')
          %br/
          = _('You can only back so many ideas, as each endorsement will cost you %{count} %{karma}.').html_safe % { count: -§.karma.vote, karma:user_karma_symbol }
          %br/
          = _('You can withdraw your endorsement within 15 minutes of casting it if you\'re having second thoughts, but after that point, it will be final!')


.row
  .span9
    = render 'idea', idea: @idea, collapsed: false, status: :header

    #idea_attachments
      = render @idea.attachments

    #comments
      = render 'comments/form', comment: Comment.new(idea: @idea)
      = render @idea.histories.by_created_at.includes(:subject)
  .span3
    = render 'action', idea: @idea
    = render 'attachments/uploader', owner: @idea

    %hr/
    .ht-with-margin-icon.muted
      .ht-margin-icon
        %i.icon-info-sign
      != idea_copy_for_state(@idea.state_machine.state_name)