- title @idea.title, :show_title => false

.row
  .span9
    = render 'wizard', :idea => @idea
  .span3
.row
  .span9
    = render 'idea', :idea => @idea, :collapsed => false

    #comments
      = render 'comments/form', :comment => Comment.new(:idea => @idea)
      = render @idea.comments
  .span3
    = render 'action', :idea => @idea