= form_for comment do |f|
  = f.error_messages
  = f.hidden_field :idea_id
  = f.hidden_field :parent_id
  = f.text_area :body, rows: 2, placeholder: _('Take part in the discussion, type your comments here!')
  = f.submit _('Post comment'), class: 'btn btn-small'
