- title "Notifications"

%table
  %tr
    %th User
    %th Subject type
    %th Subject
    %th Body
    %th Unread
  - for notification in @notifications
    %tr
      %td= notification.recipient_id
      %td= notification.subject_type
      %td= notification.subject_id
      %td= notification.body
      %td= notification.unread

%p= link_to "New Notification", new_notification_path
