- title "Notification"

%p
  %strong User:
  = @notification.recipient_id
%p
  %strong Subject Type:
  = @notification.subject_type
%p
  %strong Subject:
  = @notification.subject_id
%p
  %strong Body:
  = @notification.body
%p
  %strong Unread:
  = @notification.unread

%p
  = link_to "View All", notifications_path
