= form_for user do |f|
  = f.error_messages
  
  - f.fields_for :login do |ff|
    %p
      = ff.label :first_name
      %br
      = ff.text_field :first_name
    %p
      = ff.label :last_name
      %br
      = ff.text_field :last_name

  - if can?(:update_voting_power, user)
    %p
      = f.label :voting_power
      %br
      = f.select :voting_power, options_for_select([['1',1],['2',2],['3',3],['5',5],['8',8]], user.voting_power)
  %p
    = link_to _('Cancel'), user, class: 'btn'
    = f.submit class: 'btn btn-primary'
