- title "Users"

%table
  %tr
    %th First name
    %th Last name
    %th Email address
    %th Role
    %th Karma
    %th Account
  - for user in @users
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.karma
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

