- title @user.first_name, show_title:false

.row
  .span3
    .avatar{ style: "background-image: url(#{@user.gravatar_url(size: 512)})" }
    .karma-icons
      - @user.karma.times do
        = user_karma_symbol
  .span6
    .section
      %h1= @user.full_name
      .roles= user_roles_sentence(@user)

    %ul
      - if @user.current_sign_in_at || @user.last_sign_in_at
        %li= _('Was last seen on %{app_name} %{time_ago} ago') % { app_name: configatron.app_name, time_ago: time_ago_in_words(@user.current_sign_in_at || @user.last_sign_in_at) }
      %li= _('%{first_name} has %{count} %{karma_symbol}').html_safe % { first_name:@user.first_name, count:@user.karma, karma_symbol:user_karma_symbol }
      - if count = @user.ideas.count and count > 0
        %li= n_('Has submitted an idea', 'Has submitted %{count} ideas', count) % { count:count }
      - if count = @user.vetted_ideas.count and count > 0
        %li= n_('Has vetted one idea', 'Has vetted %{count} ideas', count) % { count:count }
      - if count = @user.backed_ideas.count and count > 0
        %li= n_('Is a backer of one idea', 'Is a backer of %{count} ideas', count) % { count:count }
      - if count = @user.notifications.unread.count and count > 0
        %li= n_('Has an unread notification', 'Has %{count} unread notifications', count) % { count:count }

  .span3

    = link_to "Edit", edit_user_path(@user), class: 'btn btn-block'
    = link_to "View All", users_path, class: 'btn btn-block'

    %h4= _('Roles')

    - UserRole::Names.each do |role_name|
      - if role = @user.plays?(role_name)
        = can_link_to user_role_path(@user, role), auth:[:destroy, role], method: :delete, class: 'btn btn-block  active', :'data-placement' => 'left' do
          = user_role_name(role_name)
      - else
        = can_link_to user_roles_path(@user, user_role: {name: role_name}), auth:[:create, UserRole], method: :post, class: 'btn btn-block', :'data-placement' => 'left' do
          = user_role_name(role_name)

