- title "User Role"

%p
  %strong User:
  = @user_role.user_id
%p
  %strong Name:
  = @user_role.name

%p
  = link_to "Edit", edit_user_role_path(@user_role)
  |
  = link_to "Destroy", @user_role, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", user_roles_path
