-# Pass me an +attachment+
:ruby
  size = 64
  large = 180
  is_image = attachment.mime_type =~ /^image/
  image_small = if is_image
    attachment.file.thumb("#{size}x#{size}#").jpg.url
  else
    path_to_image('generic-file')
  end
  image_large = is_image ? attachment.file.thumb("#{large}x#{large}#").jpg.url : nil
- attachment_title = capture do
  .attachment-tooltip
    = attachment.name
    = "(%s)" % [ number_to_human_size(attachment.size) ]
  - if image_large
    .attachment-thumb{ style:"background-image:url('#{image_large}')" }
      &nbsp;
- escaped_attachment_title = attachment_title.gsub(/\n+/, ' ')

.attachment{ id: "attachment#{attachment.id}" }
  = link_to attachment.file.url, target:'_blank', style:"background-image:url('#{image_small}')", class: 'thumb', title: escaped_attachment_title do
    &nbsp;
  .name
    = attachment.name
  = link_to idea_attachment_path(attachment.owner, attachment), method: :delete do
    %i.icon-trash
