<%= form_for @attachment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :mime_type %><br />
    <%= f.text_field :mime_type %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :owner_type %><br />
    <%= f.text_field :owner_type %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.number_field :owner_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
