-# Pass me an +owner+ (Idea or Comment)
-# Options: +format+, one of 'big' (Default) or 'small' (Link only, no listing)
:ruby
  owner     = local_assigns.fetch(:owner)
  format    = local_assigns.fetch(:format, 'big')
- if can?(:create, owner.attachments.new)
  = cached_fragment resource:owner.class, id:owner.id, key:['uploder', format] do
    :ruby
      case owner
      when Idea
        upload_endpoint  = idea_attachments_path(owner)
        refresh_endpoint = idea_path(owner, part:'attachments')
        refresh_target   = "#idea_attachments"
      when Comment
        upload_endpoint  = comment_attachments_path(owner)
        refresh_endpoint = comment_path(owner, part:'attachments')
        refresh_target   = "##{dom_id owner} .attachments"
      else
        raise ArgumentError.new(owner)
      end

      uploader_id = "uploader_#{SecureRandom.hex(4)}"

    - if format == 'big'
      - uploader_template = capture do
        .qq-uploader<
          .btn.btn-block.qq-upload-button>
            .af-drop-area.qq-upload-drop-area<>
            %i.fa.fa-upload
            = _('Attach a file')
          .qq-drop-processing<>
            .qq-drop-processing-spinner<>
          %ul.qq-upload-list<>
    - elsif format == 'small'
      - uploader_template = capture do
        .qq-uploader<
          %a.qq-upload-button>
            .af-drop-area.qq-upload-drop-area<>
            %i.fa.fa-upload
          .qq-drop-processing<>
            .qq-drop-processing-spinner<>
          .qq-upload-list<>
    - file_template = capture do
      %li.alert<
        .qq-progress-bar<>
        %span.qq-upload-spinner>
        %span.qq-upload-finished>
        %span.qq-upload-file>
        %span.qq-upload-size>
        %a.qq-upload-cancel{ href: '#' }= _('Cancel')
        %a.qq-upload-retry{ href: '#' }= _('Retry')
        %span.qq-upload-status-text

    .af-uploader{ id:uploader_id, data: { uploader: true, parent: dom_id(owner), template: { uploader:uploader_template, file:file_template }, refresh: { target: refresh_target, endpoint: refresh_endpoint }, upload: { endpoint: upload_endpoint } } }
- else
  - case format 
  - when 'big'
    .btn.btn-block.disabled{ title:not_authorized_message(:update, owner) }
      %i.fa.fa-upload
      = _('Attach a file')
  - when 'small'
    %a.disabled{ title:not_authorized_message(:update, owner) }
      %i.fa.fa-upload
