- title "Vetting"

%p
  %strong Author:
  = @vetting.user
%p
  %strong Idea:
  = @vetting.idea

%p
  = link_to "Edit", edit_vetting_path(@vetting)
  |
  = link_to "Destroy", @vetting, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", vettings_path
