= cached_fragment disabled:false, v:3, resource:'needs_avatar', id:current_login.id do
  .af-flash.af-flash-warning#needs-avatar{ data: { gravatar_url: current_login.gravatar_url(size:1) } }
    .container
      %h4
        %button.close{ :'data-dismiss' => 'af-flash' }<
          %i.icon-remove
        = _('How about adding an avatar to your account?')
      %p
        = _('Knowing who you are discussing ideas with is important in communication. Also, the default avatars are a bit ugly, so a picture of you would be much better.')
        %br/
        != _('Just head over to %{gravatar}, it takes just a minute to set one up.') % { gravatar: link_to('Gravatar', 'http://www.gravatar.com', target:'_blank') }
      %p= _('Oh, and I will nag you until you add one!')
