= form_for @vote do |f|
  = f.error_messages
  %p
    = f.label :subject_id
    %br
    = f.number_field :subject_id
  %p
    = f.label :user_id
    %br
    = f.number_field :user_id
  %p
    = f.submit
