!!!
%html

  %head
    %title!= page_title
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{rel:'icon', type:'image/png', href:'/appfab-favicon.png'}/
    %link{rel:'apple-touch-icon', type:'image/png', href:'/appfab-touch-icon.png'}/
    = stylesheet_link_tag "/assets/application-521e4cb23c42f4ce002f0ee8f19e3ad9.css"
    = javascript_include_tag '/assets/application-870f78d78795a62d24927ea030a224a9.js'
    = csrf_meta_tag
    = yield(:head)

  %body{ data: {user_id: current_user.andand.id, pusher_key:Pusher.key } }
    #header
      = render 'header'
      = yield :after_header
      #flashes.af-mini-acordion
        = render 'flashes' if flash.any?
        = yield :extra_flashes
        = render 'needs_avatar' if current_login
        = render 'acting_as_user' if acting_real_user
    .container{ id: body_id }
      - if show_title?
        .row
          .span12
            %h1= yield(:title)
      = yield
    = yield :before_footer
    = render 'footer'
