!!!
%html

  %head
    %title
      = page_title
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{rel:'icon', type:'image/png', href:'/appfab-favicon.png'}/
    %link{rel:'apple-touch-icon', type:'image/png', href:'/appfab-touch-icon.png'}/
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    = render 'header'
    = yield :after_header
    #flashes
      = render 'acting_as_user' if acting_real_user
      = render 'flashes' if flash.any?
      = yield :extra_flashes
    .container{ id: body_id }
      - if show_title?
        .row
          .span12
            %h1= yield(:title)
      = yield
    = yield :before_footer
    = render 'footer'

    - if Rails.env.development?
      = query_review_output
