!!!
%html

  %head
    %title
      = page_title
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{rel:'icon', type:'image/png', href:'/appfab-favicon.png'}/
    %link{rel:'apple-touch-icon', type:'image/png', href:'/appfab-touch-icon.png'}/
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)

  %body
    = render 'header'
    .container{ id: body_id }
      - if show_title?
        .row
          .span12
            %h1= yield(:title)
      - if flash.any?
        .row
          .span12
            - flash.each do |name, msg|
              %div{ class: "flash alert alert-#{name}"}
                = msg
                %button.close{ :'data-dismiss' => 'alert' }<
                  %i.icon-remove
      = yield
    = render 'footer'