- title "Accounts"

%table
  %tr
    %th Name
  - for account in @accounts
    %tr
      %td= account.name
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete

%p= link_to "New Account", new_account_path
