- title _("Team %{team_name}") % { team_name:@account.name }, show_title:false

.row
  .span9.user-list
    - @account.users.sort_by(&:first_name).each do |user|
      - next if cannot?(:read, user)
      = render user, name:true, avatar:512, tooltip:false, classes:"user-large pull-left user-#{user.state_name}"
    .clearfix
  .span3
    %h3= _("Team %{team_name}") % { team_name:@account.name }
    %p= _('There currently are %{count} users in this team.') % { count: current_account.users.count }
    %p= _('They have a total of %{count} %{karma_symbol}.') % { count: current_account.users.sum(:karma), karma_symbol:user_karma_symbol }

    = can_link_to edit_account_path(@account), auth:[:update, @account], class:'btn btn-block' do
      %i.fa.fa-pencil
      = _("Edit")
    = can_link_to @account, auth:[:destroy, @account], data: { confirm: 'Are you sure?' }, method: :delete, class:'btn btn-block' do
      %i.fa.fa-trash-o
      = _("Destroy")

    %hr/

    = render 'user/invites/form'
